# Python cache & env
__pycache__/
*.pyc
.venv/
.env

# IDE / editor
.vscode/
.idea/

# Local data & runtime
data/
tmp/
.checkpoints/
logs/

# Spark / cache
*.crc
*.eventlog

# OS / misc
.DS_Store
Thumbs.db
